<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Inmobiliaria</title>

	@* FontAwesome *@
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Inmobiliaria.styles.css" asp-append-version="true" />
</head>

<body>
	<header>
		@if (User.Identity.IsAuthenticated)
		{
		<nav class="navbar navbar-light">
			<div class="navbar-container">

				<div class="nav-group">
					<a class="nav-logo" asp-area="" asp-controller="Home" asp-action="Index">Inmobiliaria</a>

					<ul class="nav-list">
						<li>
							<a asp-area="" asp-controller="Propietarios" asp-action="Index"><i class="fa-solid fa-user-tie"></i>Propietarios</a>
						</li>
						<li>
							<a asp-area="" asp-controller="Inquilinos" asp-action="Index"><i class="fa-solid fa-people-roof"></i>Inquilinos</a>
						</li>
						<li>
							<a asp-area="" asp-controller="Inmuebles" asp-action="Index"><i class="fa-solid fa-house"></i>Inmuebles</a>
						</li>
						<li>
							<a asp-area="" asp-controller="Contratos" asp-action="Index"><i class="fa-solid fa-file-signature"></i>Contratos</a>
						</li>
						<li>
							<a asp-area="" asp-controller="Pagos" asp-action="Index"><i class="fa-solid fa-hand-holding-dollar"></i>Pagos</a>
						</li>
						@if (User.IsInRole("Administrador"))
						{
							<li>
								<a asp-area="" asp-controller="Usuarios" asp-action="Index"><i class="fa-solid fa-users"></i>Usuarios</a>
							</li>
						}
					</ul>
				</div>

				<div class="nav-group bottom">
					<ul class="nav-list">
						<li class="profile-item">
							<a class="user-profile" asp-area="" asp-controller="Usuarios" asp-action="Perfil">
								<img src='@(User.FindFirst("Avatar")?.Value != null && User.FindFirst("Avatar")?.Value != "" ? User.FindFirst("Avatar")?.Value : "/img/user_avatar.jpg")'>
							</a>
						</li>
						<li><a asp-area="" asp-controller="Usuarios" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i>Salir</a></li>
					</ul>
				</div>

			</div>
		</nav>
		}
	</header>
	<div class="content">
		<div class="scroll-content">
			<div class="container">
				<main role="main" style="position: relative;" class="pb-3">
					@if (ViewBag.Success != null) // Show success message
					{
						<div id="notification" class="alert alert-success fade show d-flex justify-content-between" role="alert">
							<span><i class="fa-solid fa-thumbs-up"></i> @ViewBag.Success</span>
						</div>
					}
					else if (ViewBag.Error != null) // Show error message
					{
						<div id="notification" class="alert alert-danger fade show d-flex justify-content-between" role="alert">
							<span><strong>Error!</strong> @ViewBag.Error</span>
						</div>
					}
					else if (ViewBag.Info != null) // Show error message
					{
						<div id="info-notification" class="alert alert-warning fade show d-flex justify-content-between" role="alert">
							<span><i class="fa-solid fa-circle-info"></i> @ViewBag.Info</span>
							<span id="close-warning-btn" style="cursor: pointer;"><i class="fa-solid fa-xmark"></i></span>
						</div>
					}
					@RenderBody()
				</main>
			</div>
		</div>
	</div>
	
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
