@model Inmobiliaria.Models.Usuario

@{
	ViewData["Title"] = "Eliminar";

	var usuarioAvatar = Model.Avatar != null && Model.Avatar != "" ? Model.Avatar : "/img/user_avatar.jpg";
}

<div class="d-flex align-items-center justify-content-between">
	<h1>Eliminar el usuario</h1>

	<a asp-action="Index" class="btn btn-sm btn-light">
		<i class="fa-solid fa-chevron-left"></i> Volver a la lista
	</a>
</div>

<div class="detail-container">
	<hr />
	<p>
		<div class="form-avatar">
			<img src="@usuarioAvatar">
		</div>
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Nombre): </strong>
		@Html.DisplayFor(model => model.Nombre)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Apellido): </strong>
		@Html.DisplayFor(model => model.Apellido)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Email): </strong>
		@Html.DisplayFor(model => model.Email)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Rol): </strong>
		@Html.DisplayFor(model => model.RolNombre)
	</p>

	<form asp-action="Delete">
		<input type="submit" value="Eliminar" class="btn btn-danger" />
	</form>
</div>
