@model Inmobiliaria.Models.Usuario

@{
	ViewData["Title"] = "Eliminar";

	var usuarioAvatar = Model.Avatar != null && Model.Avatar != "" ? Model.Avatar : "/img/user_avatar.jpg";
}

<a asp-action="Index" class="btn btn-sm btn-light">
	<i class="fa-solid fa-chevron-left"></i> Volver a la lista
</a>
<div class="d-flex align-items-center justify-content-between">
	<h1>Eliminar el usuario</h1>
</div>

<h3>Esta seguro que desea eliminar este usuario?</h3>
<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nombre)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nombre)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Apellido)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Apellido)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Avatar)
		</dt>
		<dd class="col-sm-10">
			<div class="form-avatar">
				<img src="@usuarioAvatar">
			</div>
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Rol)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.RolNombre)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="submit" value="Eliminar" class="btn btn-danger" />
	</form>
</div>
