@model Inmobiliaria.Models.Contrato

@{
	ViewData["Title"] = "Detalles";
}

<div class="d-flex align-items-center justify-content-between">
	<h1>Detalles del contrato</h1>

	<div class="group">
		<a asp-action="Index" class="btn btn-sm btn-light">
			<i class="fa-solid fa-chevron-left"></i> Volver a la lista
		</a>

		<a href='@Url.Action("Edit", new { id = Model.IdContrato })' class="btn btn-sm btn-primary">
			Editar <i class="fa-solid fa-pencil"></i>
		</a>
	</div>
</div>

<div class="detail-container">
	<hr />
	<p>
		<strong>@Html.DisplayNameFor(model => model.Inmueble): </strong>
		@(Model.Inmueble?.Direccion)
	</p>
	<p>
		<strong>Dueño del inmueble: </strong>
		@(Model.Inmueble.Propietario)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Inquilino): </strong>
		@(Model.Inquilino?.ToString())
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.FechaInicio): </strong>
		@(Model.FechaInicio?.ToShortDateString())
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.FechaFin): </strong>
		@(Model.FechaFin?.ToShortDateString())
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.MontoMensual): </strong>
		$@Html.DisplayFor(model => model.MontoMensual)
	</p>

	@if(Model.Pagos != null && Model.Pagos.Count > 0)
	{
		<strong>Pagos del contrato:</strong>
				<table class="table">
			<thead>
				<tr>
					<th>
						Numero de pago
					</th>
					<th>
						Fecha
					</th>
					<th>
						Importe
					</th>
					<th>
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var pago in Model.Pagos)
				{
					<tr>
						<td>
							@(pago.Numero)
						</td>
						<td>
							@(pago.Fecha.ToShortDateString())
						</td>
						<td>
							$@(pago.Importe)
						</td>
						<td>
							<a href='@Url.Action("Details", "Pagos", new { id = pago.IdPago })' class="btn btn-sm btn-light">
								<i class="fa-solid fa-arrow-up-right-from-square"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p><strong>No hay pagos para este contrato</strong></p>
	}

	<a asp-controller="Pagos" asp-action="Create" class="btn btn-sm btn-link">Agregar nuevo pago</a>

</div>
