@model Inmobiliaria.Models.Contrato

@{
	ViewData["Title"] = "Detalles";
}

<div class="d-flex align-items-center justify-content-between">
	<h1>Detalles del contrato</h1>

	<div class="group">
		<a asp-action="Index" class="btn btn-sm btn-light">
			<i class="fa-solid fa-chevron-left"></i> Volver a la lista
		</a>

		<a href='@Url.Action("Edit", new { id = Model.IdContrato })' class="btn btn-sm btn-primary">
			Editar <i class="fa-solid fa-pencil"></i>
		</a>
	</div>
</div>

<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Inmueble)
		</dt>
		<dd class="col-sm-10">
			@(Model.Inmueble!.Direccion)
		</dd>
		<dt class="col-sm-2">
			Dueño del inmueble
		</dt>
		<dd class="col-sm-10">
			@(Model.Inmueble.Propietario)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Inquilino)
		</dt>
		<dd class="col-sm-10">
			@(Model.Inquilino!.ToString())
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FechaInicio)
		</dt>
		<dd class="col-sm-10">
			@(Model.FechaInicio?.ToShortDateString())
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FechaFin)
		</dt>
		<dd class="col-sm-10">
			@(Model.FechaFin?.ToShortDateString())
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MontoMensual)
		</dt>
		<dd class="col-sm-10">
			$@Html.DisplayFor(model => model.MontoMensual)
		</dd>
	</dl>
</div>
