@model Inmobiliaria.Models.Contrato

@{
	ViewData["Title"] = "Renovar";
}

<div class="d-flex align-items-center justify-content-between">
	<h1>Renovar un contrato</h1>

	<a asp-action="Index" class="btn btn-sm btn-light">
		<i class="fa-solid fa-chevron-left"></i> Volver a la lista
	</a>
</div>

<div class="detail-container">
	<hr />
	<p>
		<strong>@Html.DisplayNameFor(model => model.Inmueble): </strong>
		@(Model.Inmueble?.Direccion)
	</p>
	<p>
		<strong>Dueño del inmueble: </strong>
		@(Model.Inmueble.Propietario)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Inquilino): </strong>
		@(Model.Inquilino?.ToString())
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.FechaInicio): </strong>
		@(Model.FechaInicio?.ToShortDateString())
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.FechaFin): </strong>
		@(Model.FechaFin?.ToShortDateString())
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.MontoMensual): </strong>
		$@Html.DisplayFor(model => model.MontoMensual)
	</p>

	<form asp-action="RenovateForm" asp-route-id="@Model.IdContrato" method="GET">
		<input type="submit" value="Renovar" class="btn btn-primary" />
	</form>
</div>
