@model Inmobiliaria.Models.Contrato

@{
	ViewData["Title"] = "Renovar";
}

<a asp-action="Index" class="btn btn-sm btn-light">
	<i class="fa-solid fa-chevron-left"></i> Volver a la lista
</a>
<div class="d-flex align-items-center justify-content-between">
	<h1>Renovar un contrato</h1>
</div>

<h3>Esta seguro que desea renovar este contrato?</h3>
<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Inmueble)
		</dt>
		<dd class="col-sm-10">
			@(Model.Inmueble!.Direccion)
		</dd>
		<dt class="col-sm-2">
			Dueño del inmueble
		</dt>
		<dd class="col-sm-10">
			@(Model.Inmueble.Propietario)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Inquilino)
		</dt>
		<dd class="col-sm-10">
			@(Model.Inquilino!.ToString())
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FechaInicio)
		</dt>
		<dd class="col-sm-10">
			@(Model.FechaInicio?.ToShortDateString())
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FechaFin)
		</dt>
		<dd class="col-sm-10">
			@(Model.FechaFin?.ToShortDateString())
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MontoMensual)
		</dt>
		<dd class="col-sm-10">
			$@Html.DisplayFor(model => model.MontoMensual)
		</dd>
	</dl>

	<form asp-action="RenovateForm" asp-route-id="@Model.IdContrato" method="GET">
		<input type="submit" value="Renovar" class="btn btn-primary" />
	</form>
</div>
