@model Inmobiliaria.Models.Inmueble

@{
	ViewData["Title"] = "Eliminar";
}

<div class="d-flex align-items-center justify-content-between">
	<h1>Eliminar un inmueble</h1>

	<a asp-action="Index" class="btn btn-sm btn-light">
		<i class="fa-solid fa-chevron-left"></i> Volver a la lista
	</a>
</div>

<div class="detail-container">
	<hr />
	<p>
		<strong>@Html.DisplayNameFor(model => model.Propietario): </strong>
		@(Model.Propietario!.ToString())
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Direccion): </strong>
		@Html.DisplayFor(model => model.Direccion)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Uso): </strong>
		@Html.DisplayFor(model => model.UsoNombre)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Tipo): </strong>
		@Html.DisplayFor(model => model.TipoNombre)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Ambientes): </strong>
		@Html.DisplayFor(model => model.Ambientes)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Latitud): </strong>
		@Html.DisplayFor(model => model.Latitud)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Longitud): </strong>
		@Html.DisplayFor(model => model.Longitud)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Precio): </strong>
		$@Html.DisplayFor(model => model.Precio)
	</p>
	<p>
		<strong>Estado: </strong>
		@(Model.Activo ? "Activo" : "Inactivo")
	</p>

	<form asp-action="Delete">
		<input type="submit" value="Eliminar" class="btn btn-danger" />
	</form>
</div>
