@model Inmobiliaria.Models.Inmueble

@{
	ViewData["Title"] = "Detalles";
}

<div class="d-flex align-items-center justify-content-between">
	<h1>Detalles del inmueble</h1>

	<div class="group">
		<a asp-action="Index" class="btn btn-sm btn-light">
			<i class="fa-solid fa-chevron-left"></i> Volver a la lista
		</a>

		<a href='@Url.Action("Edit", new { id = Model.IdInmueble })' class="btn btn-sm btn-primary">
			Editar <i class="fa-solid fa-pencil"></i>
		</a>
	</div>
</div>

<div class="detail-container">
	<hr />
	<p>
		<strong>@Html.DisplayNameFor(model => model.Propietario): </strong>
		@(Model.Propietario!.ToString())
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Direccion): </strong>
		@Html.DisplayFor(model => model.Direccion)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Uso): </strong>
		@Html.DisplayFor(model => model.UsoNombre)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Tipo): </strong>
		@Html.DisplayFor(model => model.TipoNombre)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Ambientes): </strong>
		@Html.DisplayFor(model => model.Ambientes)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Latitud): </strong>
		@Html.DisplayFor(model => model.Latitud)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Longitud): </strong>
		@Html.DisplayFor(model => model.Longitud)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Precio): </strong>
		$@Html.DisplayFor(model => model.Precio)
	</p>
	<p>
		<strong>Estado: </strong>
		@(Model.Activo ? "Activo" : "Inactivo")
	</p>

	@if(Model.Contratos != null && Model.Contratos.Count > 0)
	{
		<strong>Contratos del inmueble: </strong>
		<table class="table">
			<thead>
				<tr>
					<th>
						Fecha Inicio
					</th>
					<th>
						Fecha Fin
					</th>
					<th>
						Monto Mensual
					</th>
					<th>
						Inquilino
					</th>
					<th>
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var contrato in Model.Contratos)
				{
					<tr>
						<td>
							@(contrato.FechaInicio?.ToShortDateString())
						</td>
						<td>
							@(contrato.FechaFin?.ToShortDateString())
						</td>
						<td>
							$@Html.DisplayFor(model => model.Precio)
						</td>
						<td>
							<a href='@Url.Action("Details", "Inquilinos", new { id = contrato.InquilinoId })' class="btn btn-sm btn-link">
								@(contrato.Inquilino!.ToString())
							</a>
						</td>
						<td>
							<a href='@Url.Action("Details", "Contratos", new { id = contrato.IdContrato })' class="btn btn-sm btn-light">
								<i class="fa-solid fa-arrow-up-right-from-square"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p><strong>Este inmueble no tiene contratos</strong></p>
	}
</div>
