@model Inmobiliaria.Models.Pago

@{
	ViewData["Title"] = "Detalles";
	var inquilinoNombre = $"{Model?.Contrato?.Inquilino?.Nombre} {Model?.Contrato?.Inquilino?.Apellido}";
	var displayString = $"{Model?.Contrato?.Inmueble?.Direccion} (Inquilino: {inquilinoNombre})";
}

<div class="d-flex align-items-center justify-content-between">
	<h1>Detalles del pago</h1>

	<div class="group">
		<a asp-action="Index" class="btn btn-sm btn-light">
			<i class="fa-solid fa-chevron-left"></i> Volver a la lista
		</a>

		<a href='@Url.Action("Edit", new { id = Model?.IdPago })' class="btn btn-sm btn-primary">
			Editar <i class="fa-solid fa-pencil"></i>
		</a>
	</div>
</div>

<div class="detail-container">
	<hr />
	<p>
		<strong>@Html.DisplayNameFor(model => model.ContratoId): </strong>
		@displayString
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Numero): </strong>
		@Html.DisplayFor(model => model.Numero)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Fecha): </strong>
		@Model.Fecha.ToShortDateString()
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Importe): </strong>
		$@Html.DisplayFor(model => model.Importe)
	</p>
</div>
