@model Inmobiliaria.Models.Propietario

@{
	ViewData["Title"] = "Detalles";
}

<a asp-action="Index" class="btn btn-sm btn-light">
	<i class="fa-solid fa-chevron-left"></i> Volver a la lista
</a>
<div class="d-flex align-items-center justify-content-between">
	<h1>Detalles del propietario</h1>
	<a href='@Url.Action("Edit", new { id = Model.IdPropietario })' class="btn btn-sm btn-primary">
		Editar <i class="fa-solid fa-pencil"></i>
	</a>
</div>

<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Dni)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Dni)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Apellido)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Apellido)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nombre)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nombre)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Telefono)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Telefono)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Correo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Correo)
		</dd>
	</dl>
</div>
