@model Inmobiliaria.Models.Propietario

@{
	ViewData["Title"] = "Detalles";
}

<div class="d-flex align-items-center justify-content-between">
	<h1>Detalles del propietario</h1>

	<div class="group">
		<a asp-action="Index" class="btn btn-sm btn-light">
			<i class="fa-solid fa-chevron-left"></i> Volver a la lista
		</a>
		
		<a href='@Url.Action("Edit", new { id = Model.IdPropietario })' class="btn btn-sm btn-primary">
			Editar <i class="fa-solid fa-pencil"></i>
		</a>
	</div>
</div>

<div class="detail-container">
	<hr />
	<p>
		<strong>@Html.DisplayNameFor(model => model.Dni): </strong>
		@Html.DisplayFor(model => model.Dni)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Apellido): </strong>
		@Html.DisplayFor(model => model.Apellido)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Nombre): </strong>
		@Html.DisplayFor(model => model.Nombre)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Telefono): </strong>
		@Html.DisplayFor(model => model.Telefono)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Correo): </strong>
		@(String.IsNullOrEmpty(Model.Correo) ? "N/A" : Html.DisplayFor(model => Model.Correo))
	</p>

	@if (Model.Inmuebles != null && Model.Inmuebles.Count > 0)
	{
		<strong>Inmuebles del propietario: </strong>
		<table class="table">
			<thead>
				<tr>
					<th>
						Dirección
					</th>
					<th>
						Tipo
					</th>
					<th>
						Precio
					</th>
					<th>
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var inmueble in Model.Inmuebles)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => inmueble.Direccion)
						</td>
						<td>
							@Html.DisplayFor(modelItem => inmueble.TipoNombre)
						</td>
						<td>
							$@Html.DisplayFor(modelItem => inmueble.Precio)
						</td>
						<td>
							<a href='@Url.Action("Details", "Inmuebles", new { id = inmueble.IdInmueble })' class="btn btn-sm btn-light">
								<i class="fa-solid fa-arrow-up-right-from-square"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p><strong>Este propietario no posee inmuebles.</strong></p>
	}
</div>
