@model IEnumerable<Inmobiliaria.Models.Propietario>

@{
	ViewData["Title"] = "Propietarios";
}


<div class="d-flex align-items-center justify-content-between">
	<h1>Propietarios</h1>
	<a asp-action="Create" class="btn btn-sm btn-primary">Crear Nuevo</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Dni)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Apellido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Telefono)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Correo)
			</th>
			<th>
				Acciones
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Dni)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Apellido)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Telefono)
				</td>
				<td>
					@(String.IsNullOrEmpty(item.Correo) ? "N/A" : Html.DisplayFor(modelItem => item.Correo))
				</td>
				<td>
					<a href='@Url.Action("Edit", new { id = item.IdPropietario })' class="btn btn-sm btn-light">
						<i class="fa-solid fa-pencil"></i>
					</a>
					<a href='@Url.Action("Details", new { id = item.IdPropietario })' class="btn btn-sm btn-light">
						<i class="fa-solid fa-circle-info"></i>
					</a>
					<a href='@Url.Action("Delete", new { id = item.IdPropietario })' class="btn btn-sm btn-light">
						<i class="fa-solid fa-trash"></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
