@model Inmobiliaria.Models.Inquilino

@{
	ViewData["Title"] = "Eliminar";
}

<div class="d-flex align-items-center justify-content-between">
	<h1>Eliminar un inquilino</h1>

	<a asp-action="Index" class="btn btn-sm btn-light">
		<i class="fa-solid fa-chevron-left"></i> Volver a la lista
	</a>
</div>

<div class="detail-container">
	<hr />
	<p>
		<strong>@Html.DisplayNameFor(model => model.Dni): </strong>
		@Html.DisplayFor(model => model.Dni)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Apellido): </strong>
		@Html.DisplayFor(model => model.Apellido)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Nombre): </strong>
		@Html.DisplayFor(model => model.Nombre)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Telefono): </strong>
		@Html.DisplayFor(model => model.Telefono)
	</p>
	<p>
		<strong>@Html.DisplayNameFor(model => model.Correo): </strong>
		@(String.IsNullOrEmpty(Model.Correo) ? "N/A" : Html.DisplayFor(model => Model.Correo))
	</p>

	<form asp-action="Delete">
		<input type="submit" value="Eliminar" class="btn btn-danger" />
	</form>
</div>
